* {
  box-sizing:border-box;
}
    
body {
    background-color: plum;
    background-size:1989px;
    font-family:Luminari, fantasy;
    font-style:italic;
}

h1 {
  font-style:italic;
  font-family:Luminari, fantasy;
  color:black;
}
#Guess {
  color:black;
}

#Wins {
  color:black;
}
#Losses {
  color:black;
}

#Leftover{
  color:black;
}

#soFar {
  color:black;
}
  
