* {
  box-sizing:border-box;
}
    
body {
    background-color: plum;
    background-size:1989px;
}

h1 {
  font-style: serif;
  color:black;
}
#Guess {
  color:black;
}

#Wins {
  color:black;
}
#Losses {
  color:black;
}

#Leftover{
  color:black;
}

#soFar {
  color:black;
}
  
